:root{
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    --main-bg-color: #cbaef0;
    --quiz-bg-color: #ffffff;
    --text-color: #333333;
    --btn-text-color: #ffffff;
    --highlight-color: #9f5ff4; 
    --btn-hover-color: #6d4b82;
    --btn-bg-color: #7f8c8d;
    --correct-color: #9aeabc;
    --incorrect-color: #ff9393;
    
    --shadow-1: 0 4px 8px rgba(var(--text-color), 0.1);

    --max-border-radius: 30px;
    --min-border-radius: 6px;

    --font-size-large: 28px;
    --font-size-medium: 22px;
    --font-size-small: 14px;

    --padding-large: 30px;
    --padding-medium: 20px;
    --padding-small: 10px;

    --margin-large: 100px;
    --margin-medium: 40px;

    --width: 90%;
    --width-btn: 35%;
    --width-action-btn: 25%;
    --max-width-quiz: 600px;

    --transition-duration: 0.3s;

    --toggle-width: 3rem;
    --toggle-height: 1.5rem;
    --circle-size: 1.2rem;
    --circle-margin: 0.15rem;
    --circle-offset-right: 1.35rem;

    color-scheme: light;
}


.dark-theme {
    --main-bg-color: #1e1e1e;
    --quiz-bg-color: #2c2c2c;
    --text-color: #f1f1f1;
    --btn-text-color: #2c2c2c; 
    --btn-hover-color: #6d4b82;
    --btn-bg-color: #6d6d6d;
    --highlight-color: #8c76aa;
    --correct-color: #4caf50;
    --incorrect-color: #e57373;

    --shadow-1: 0 4px 8px rgba(var(--text-color), 0.1);

    color-scheme: dark;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
}

body {
    background: var(--main-bg-color);
}

.quiz-wrapper {
    background: var(--quiz-bg-color);
    width: var(--width);
    max-width: var(--max-width-quiz);
    margin: var(--margin-large) auto;
    border-radius: var(--max-border-radius);
    padding: var(--padding-large);
    box-shadow: var(--shadow-1);
}

#question-count {
    font-size: var(--font-size-large);
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    padding-bottom: var(--padding-small);
}

.quiz {
    padding: var(--padding-medium) 0;
    text-align: center;
}

.quiz h2 {
    font-size: var(--font-size-medium);
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    padding-bottom: var(--padding-small);
}


#answer-info {
    color: var(--highlight-color);
}


#answer-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--margin-medium);
    margin-top: var(--margin-medium);
}


.btn {
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: normal;
    font-size: var(--font-size-small);
    width: var(--width);
    border: 1px solid var(--btn-bg-color);
    padding: var(--padding-small);
    flex: 1 1 var(--width-btn);
    max-width: var(--width-btn);
    text-align: center;
    border-radius: var(--min-border-radius);
    cursor: pointer;
    transition: all var(--transition-duration);
}

.btn:hover:not([disabled]) {
    background: var(--btn-hover-color);
    color: var(--btn-text-color);
}

.btn.selected {
    background: var(--highlight-color);
    color: var(--btn-text-color);
}

#next-button, #check-button {
    background: var(--text-color);
    color: var(--btn-text-color);
    font-weight: normal;
    width: var(--width);
    max-width: var(--width-action-btn);
    border: 0;
    padding: var(--padding-small);
    margin: 0 auto;
    margin-top: var(--margin-medium);
    border-radius: var(--min-border-radius);
    cursor: pointer;
    transition: all var(--transition-duration);
    display: none;
}


.correct{
    background: var(--correct-color);
}

.incorrect{
    background: var(--incorrect-color);
}


#theme-toggle {
    position: absolute;
    top: var(--padding-small);
    right: var(--padding-small);
    width: var(--toggle-width); 
    height: var(--toggle-height);
    border-radius: var(--max-border-radius);
    background-color: var(--quiz-bg-color);
    cursor: pointer;
}

.circle{
    position: absolute;
    width: var(--circle-size); 
    height: var(--circle-size); 
    left: var(--circle-margin);
    background-color: var(--main-bg-color);
    border-radius: var(--max-border-radius);
    transition: all var(--transition-duration);
    margin: var(--circle-margin);
}

.circle.right {
    left: var(--circle-offset-right); 
}


#timer{
    padding: var(--padding-medium);
}